.header {
    height: 120px;
    background-color: #002d72;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.filter-fields {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.field {
    width: 45%;
    margin-right: 10px;
}

.field .MuiTextField-root {
    width: 100%;
}

.error-text {
    color: red !important;
    font-size: 12px;
}

.file-upload-button {
    width: 20%;
    margin-top: 10px;
}

label {
    color: #ffffff !important;
}

input {
    background-color: #ffffff !important;
    color: #002d72 !important;
    border-radius: 5px;
    padding: 8px !important;
}

.MuiButton-root {
    background-color: #002d72 !important;
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
}

@media only screen and (max-width: 860px) {
    .filter-fields {
        width: 100%;
    }
    .file-upload-button {
        width: 100%;
    }
}